hdl/syn/_ngo/
hdl/syn/_xmsgs/
hdl/syn/iseconfig/
hdl/syn/xlnx_auto_0_xdb/
hdl/syn/xst/
*.gise
*.tcl
*.bin
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.pcf
*.prj
*.ptwx
*.stx
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.xwbt
*.mrp
*.ngm
*.csv
*.txt
*.xrpt
*.html
*.xml
*.xrpt
*.log
*.xml
